@font-face {
    font-family: "Wremena";
    src: url(../font/WremenaRegular.woff) format('woff');
    font-weight: normal;
}

body {
    min-width: 316px;
    position: relative;
    align-items: center;
}

table {
    position: absolute;
    width: 100%;
    height: 400vh;
    border-collapse: collapse;
    table-layout: fixed;

    z-index: -1;
    min-width: 316px;
}

tbody {
    display: table-row-group;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border: 1px solid #dddddd
}

td {
    border: 1px solid #000000;
}

@media (min-width:316px) {
    .table-1 {
        display: none;
    }

    .table-2 {
        display: table;
    }

    .text {
        /* font-size: 0.7rem; */
        font-size: calc(10px + 6 * (100vw - 316px) / 234);
    }

    .grid {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header11 header12 header13"
            "header21 header22 header23"
            "header31 header32 header33"
            "body01 body02 body03"
            "body11 body12 body12"
            "body21 body22 body23"
            "body31 body32 body33"
            "body41 body42 body43"
            "body51 body52 body53"
            "body61 body62 body63"
            "body71 body72 body73"
            "footer1 footer2 footer3";
    }


    #o1 {
        grid-area: header11;
    }

    #o2 {
        grid-area: header12;
    }

    #o3 {
        grid-area: header13;
    }

    #o4 {
        grid-area: header31;
    }

    #o5 {
        grid-area: header32;
    }

    #o6 {
        grid-area: header33;
    }

    #archive {
        grid-area: header21;
    }

    #sound {
        grid-area: header22;
    }

    #time {
        grid-area: header23;
    }

    #v {
        grid-area: header11;
    }

    #t {
        grid-area: header33;
    }

    #div_par_1 {
        grid-area: body11;
    }

    #div_par_2 {
        grid-area: body43;
    }

    #div_par_3 {
        grid-area: body61;
    }

    #Nice {
        grid-area: footer2;
    }

    #Der {
        grid-area: body52;
        align-self: end;
    }

    #Alb {
        grid-area: body32;
    }

    #Prac {
        grid-area: body33;
    }

    #Blin {
        grid-area: body23;
    }

    #Mus {
        grid-area: body21;
    }

    #footer1 {
        grid-area: footer1;
    }

    #footer2 {
        grid-area: footer3;
    }

    .date {
        font-size: 2vw;
    }
}

@media (min-width:550px) {
    .table-1 {
        display: none;
    }

    .table-2 {
        display: table;
    }

    .text {
        /* font-size: 1.1rem; */
        font-size: calc(14px + 8 * (100vw - 550px) / 474);
    }

    .grid {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header11 header12 header13"
            "header21 header22 header23"
            "header31 header32 header33"
            "body01 body02 body03"
            "body11 body12 body12"
            "body21 body22 body23"
            "body31 body32 body33"
            "body41 body42 body43"
            "body51 body52 body53"
            "body61 body62 body63"
            "body71 body72 body73"
            "footer1 footer2 footer3";
    }

    #o1 {
        grid-area: header11;
    }

    #o2 {
        grid-area: header12;
    }

    #o3 {
        grid-area: header13;
    }

    #o4 {
        grid-area: header31;
    }

    #o5 {
        grid-area: header32;
    }

    #o6 {
        grid-area: header33;
    }

    #archive {
        grid-area: header21;
    }

    #sound {
        grid-area: header22;
    }

    #time {
        grid-area: header23;
    }

    #v {
        grid-area: header11;
    }

    #t {
        grid-area: header33;
    }

    #div_par_1 {
        grid-area: body11;
    }

    #div_par_2 {
        grid-area: body43;
    }

    #div_par_3 {
        grid-area: body61;
    }

    #Nice {
        grid-area: footer2;
    }

    #Der {
        grid-area: body52;
        align-self: center;
    }

    #Alb {
        grid-area: body32;
    }

    #Prac {
        grid-area: body33;
    }

    #Blin {
        grid-area: body23;
    }

    #Mus {
        grid-area: body21;
    }

    #footer1 {
        grid-area: footer1;
    }

    #footer2 {
        grid-area: footer3;
    }

    .date {
        font-size: 2vw;
    }
}

@media (min-width:1024px) {
    .table-1 {
        display: table;
    }

    .table-2 {
        display: none;
    }

    .text {
        /* font-size: 1.3rem; */
        font-size: calc(18px + 4 * (100vw - 1024px) / 956);
    }

    .grid {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "header11 header12 header13 header14 header15"
            "header21 header22 header23 header24 header25"
            "header31 header32 header33 header34 header35"
            "body01 body02 body03 body04 body05"
            "body11 body11 body14 body14 body14"
            "body21 body22 body23 body24 body25"
            "body31 body32 body33 body34 body35"
            "body41 body42 body43 body44 body44"
            "body51 body52 body53 body54 body55"
            "body61 body61 body63 body64 body65"
            "body71 body72 body73 body74 body75"
            "footer1 footer2 footer3 footer4 footer5";
    }

    #o1 {
        grid-area: header12;
    }

    #o2 {
        grid-area: header13;
    }

    #o3 {
        grid-area: header14;
    }

    #o4 {
        grid-area: header32;
    }

    #o5 {
        grid-area: header33;
    }

    #o6 {
        grid-area: header34;
    }

    #archive {
        grid-area: header22;
    }

    #sound {
        grid-area: header23;
    }

    #time {
        grid-area: header24;
    }

    #v {
        grid-area: header11;
    }

    #t {
        grid-area: header35;
    }

    #div_par_1 {
        grid-area: body11;
        height: calc(100% - 1px);
    }

    #div_par_2 {
        grid-area: body44;
        height: calc(100% - 2px);
    }

    #div_par_3 {
        grid-area: body61;
        height: calc(100% - 2px);
    }

    #Nice {
        grid-area: footer4;
    }

    #Der {
        grid-area: body53;
        align-self: end;
    }

    #Alb {
        grid-area: body32;
    }

    #Prac {
        grid-area: body33;
    }

    #Blin {
        grid-area: body24;
    }

    #Mus {
        grid-area: body22;
    }

    #footer1 {
        grid-area: footer1;
    }

    #footer2 {
        grid-area: footer5;
    }

    .date {
        font-size: 1.2vw;
    }
}

.grid {
    width: 100%;
    height: 400vh;
    /* height: 3560px; */
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    overflow: hidden;

    min-height: 0;
    min-width: 0;
}

.text {
    font-family: "Wremena";
    line-height: 110%;
    font-variant-numeric: lining-nums proportional-nums;

    margin: 5% 5% 5% 5%;
}

.oval {
    width: calc(100% - 30px);
    height: 12%;
    border-radius: 50%;
    border: 1.3px solid #000;
    z-index: -1;
}

#archive,
#sound,
#time {
    z-index: 4;
}

#o1 {
    animation: oval1 ease-in-out 15s infinite;
}

#o2 {
    animation: oval2 ease-in-out 15s infinite;
}

#o3 {
    animation: oval3 ease-in-out 15s infinite;
}

#o4 {
    animation: oval3 ease-in-out 15s infinite;
}

#o5 {
    animation: oval1 ease-in-out 15s infinite;
}

#o6 {
    animation: oval2 ease-in-out 15s infinite;
}

@keyframes oval1 {
    0% {
        margin-bottom: 20vh;
        rotate: 11deg;
    }

    25% {
        margin-bottom: 0;
        rotate: -8deg;
    }

    50% {
        margin-bottom: -20vh;
        rotate: 11deg;
    }

    75% {
        margin-bottom: 0;
        rotate: -3deg;
    }

    100% {
        margin-bottom: 20vh;
        rotate: 11deg;
    }

}

@keyframes oval2 {
    0% {
        margin-bottom: 0;
        rotate: -8deg;
    }

    25% {
        margin-bottom: 20vh;
        rotate: 11deg;
    }

    50% {
        margin-bottom: 0;
        rotate: -8deg;
    }

    75% {
        margin-bottom: -20vh;
        rotate: 11deg;
    }

    100% {
        margin-bottom: 0;
        rotate: -8deg;
    }

}

@keyframes oval3 {
    0% {
        margin-bottom: -20vh;
        rotate: 11deg;
    }

    25% {
        margin-bottom: 0;
        rotate: -8deg;
    }

    50% {
        margin-bottom: 20vh;
        rotate: 11deg;
    }

    75% {
        margin-bottom: 0;
        rotate: -3deg;
    }

    100% {
        margin-bottom: -20vh;
        rotate: 11deg;
    }

}


#v {
    justify-self: start;
    align-self: start;
    z-index: 4;
}

#t {
    justify-self: end;
    align-self: end;
    z-index: 4;
}

#div_par_1 {
    background-color: white;
    justify-self: start;
    align-self: start;
    margin: 1px 1px 0 1px;
    z-index: 4;
}

#par1 {
    max-width: 850px;
}

#div_par_2 {
    background-color: white;
    justify-self: start;
    align-self: start;
    margin: 1px 1px 0 1px;
    z-index: 4;
}

#par2 {
    max-width: 850px;
}

#div_par_3 {
    background-color: white;
    justify-self: start;
    align-self: start;
    margin: 1px 1px 0 1px;
    z-index: 4;
}

#par3 {
    max-width: 850px;
}

.date {
    justify-self: center;
}

#Nice {
    align-self: start;
}

#Alb {
    align-self: end;
}

#Prac {
    align-self: center;
}

#Blin {
    align-self: end;
}

#Mus {
    align-self: end;
}

#footer1 {
    line-height: 80%;
    justify-self: start;
    align-self: start;
    z-index: 4;
}

#footer2 {
    justify-self: end;
    align-self: end;
    z-index: 4;
}

a {
    text-decoration: none;
    color: black;
}