.scan {
    position: absolute;
    z-index: 2;
}

.scans {
    position: absolute;
    transform: scale(1);

}

.scan2 {
    position: absolute;
}

.image {
    width: 100%;
}


@media (min-width:316px) and (max-width:549px) {
    #cap_div {
        top: -1rem;
        grid-area: header12;
    }

    #peace_div {
        grid-area: header21;
        grid-area: header21;
        top: -3rem;
        left: 0.4rem;
        width: 40vw;
        height: 40vw;
    }

    #skrepka_div {
        grid-area: header13;
        top: 5rem;
        left: 0rem;
        width: 30vw;
        height: 30vw;
    }

    .cat-anim {
        max-width: 100%;
        grid-area: body12;
        top: 1rem;
        left: -0.5rem;
    }

    #money_div {
        grid-area: body21;
        top: 9rem;
        left: -2.5rem;
        width: 65vw;
        height: 40vw;

        rotate: -25deg;
    }

    #matches_div {
        width: 30vw;
        height: 30vw;
        grid-area: body23;
        top: 26vh;
        left: 0;

        z-index: 4;
    }

    #ticket_div {
        grid-area: body23;
        top: 0;
        left: -5rem;
        width: 20vw;
        height: 18vw;
    }

    #kaluga_div {
        grid-area: body33;
        top: 4rem;
        left: -3rem;
        width: 42vw;
        height: 33vw;

        z-index: 4;
    }

    #book_div {
        grid-area: body53;
        top: -1rem;
        left: -6rem;
        width: 51vw;
        height: 40vw;
    }

    #cards_div {
        grid-area: body21;
        width: 32vw;
        height: 40vw;
        top: -1rem;
        left: 1rem;
    }

    #tree_div {
        grid-area: body52;
        top: 8rem;
        left: -1rem;
        width: 52vw;
        height: 38vw;
        rotate: -5deg;
    }

    #nice_div {
        grid-area: footer2;
        top: -1rem;
        left: -3rem;
        width: 66vw;
        height: 32vw;
    }

    #tram_div {
        grid-area: body32;
        top: 11rem;
        left: -1rem;
        width: 34vw;
        height: 30vw;

        z-index: 4;
    }

    #icon_div {
        grid-area: body63;
        top: 1rem;
        left: -1rem;
        width: 29vw;
        height: 34vw;
    }

    #book-sh_div {
        grid-area: body42;
        top: -1rem;
        left: -7rem;
        width: 47vw;
        height: 54vw;
        rotate: -40deg;
    }

    #postcard_div {
        grid-area: body41;
        top: 13rem;
        left: 1rem;
        width: 42vw;
        height: 49vw;
        rotate: 10deg;
    }

    #basquiat_div {
        grid-area: body71;
        top: 1rem;
        left: 2rem;
        width: 55vw;
        height: 35vw;
    }

    #notebook_div {
        grid-area: body31;
        top: 6rem;
        left: -2rem;
        width: 50vw;
        height: 30vw;
        rotate: -70deg;
    }

    #sochi_div {
        grid-area: body73;
        top: 1rem;
        left: -4rem;
        width: 27vw;
        height: 27vw;
        rotate: -20deg;
    }

    #paper_div {
        grid-area: body62;
        top: 6rem;
        left: -4rem;
        width: 38vw;
        height: 36vw;
    }

    #airticket_div {
        grid-area: body32;
        top: -6rem;
        left: 1rem;
        width: 37vw;
        height: 37vw;
    }

    #zakolochka_div {
        grid-area: header33;
        width: 30vw;
        height: 28vw;
    }

    #photo_div {
        grid-area: header31;
        width: 48vw;
        height: 55vw;
    }

    #momin_div {
        grid-area: body02;
        top: 4rem;
        left: -1rem;
        width: 45vw;
        height: 30vw;
    }
}

@media (min-width:550px) and (max-width:1023px) {
    #cap_div {
        grid-area: header12;
    }

    #peace_div {
        grid-area: header21;
        top: -3rem;
        left: 0.4rem;
        width: 27vw;
        height: 27vw;
    }

    #skrepka_div {
        grid-area: header13;
        top: 3rem;
        left: 2rem;
        width: 10vw;
        height: 10vw;
    }

    .cat-anim {
        top: -13rem;
        left: -1rem;
        max-width: 100%;
        grid-area: body12;
    }

    #money_div {
        grid-area: body21;
        top: 9rem;
        left: -1rem;
        width: 53vw;
        height: 30vw;
    }

    #matches_div {
        width: 20vw;
        height: 20vw;
        grid-area: body23;
        top: 12rem;
        left: 0;
    }

    #ticket_div {
        grid-area: body23;
        top: -6rem;
        left: -4rem;
        width: 20vw;
        height: 18vw;
    }

    #kaluga_div {
        grid-area: body33;
        top: 3rem;
        left: -3rem;
        width: 36vw;
        height: 18vw;
    }

    #book_div {
        grid-area: body53;
        top: -7rem;
        left: -5rem;
        width: 43vw;
        height: 37vw;
        rotate: -18deg;
    }

    #cards_div {
        grid-area: body21;
        width: 20vw;
        height: 24vw;
        top: -5rem;
        left: 3rem;
    }

    #tree_div {
        grid-area: body52;
        top: 3rem;
        left: -4rem;
        width: 42vw;
        height: 31vw;
    }

    #nice_div {
        grid-area: footer2;
        top: -3rem;
        left: 1rem;
        width: 54vw;
        height: 52vw;
    }

    #tram_div {
        grid-area: body32;
        top: 12rem;
        left: -1rem;
        width: 34vw;
        height: 30vw;
    }

    #icon_div {
        grid-area: body63;
        top: -8rem;
        left: 1rem;
        width: 27vw;
        height: 32vw;
    }

    #book-sh_div {
        grid-area: body42;
        top: 6rem;
        left: -1rem;
        width: 30vw;
        height: 34vw;
    }

    #postcard_div {
        grid-area: body41;
        top: 3rem;
        left: 1rem;
        width: 28vw;
        height: 33vw;
    }

    #basquiat_div {
        grid-area: body71;
        top: 0rem;
        left: 6rem;
        width: 50vw;
        height: 50vw;
    }

    #notebook_div {
        grid-area: body31;
        top: 4rem;
        left: 0rem;
        width: 35vw;
        height: 29vw;
        rotate: -90deg;
    }

    #sochi_div {
        grid-area: body73;
        top: -4rem;
        left: -2rem;
        width: 37vw;
        height: 35vw;
        rotate: -23deg;
    }

    #paper_div {
        grid-area: body62;
        top: 0rem;
        left: -5rem;
        width: 55vw;
        height: 54vw;
    }

    #airticket_div {
        grid-area: body32;
        top: 0rem;
        left: 2rem;
        width: 25vw;
        height: 25vw;
    }

    #zakolochka_div {
        grid-area: header33;
        width: 20vw;
        height: 18vw;
    }

    #photo_div {
        grid-area: header31;
        width: 30vw;
        height: 34vw;
    }

    #momin_div {
        grid-area: body01;
        top: 3rem;
        left: 2rem;
        width: 20vw;
        height: 18vw;
    }
}

@media (min-width:1024px) {
    #cap_div {
        grid-area: header13;
    }

    #peace_div {
        grid-area: header21;
        top: 0;
        left: 0.4rem;
        width: 19vw;
        height: 19vw;
    }

    #skrepka_div {
        grid-area: header15;
        top: 3rem;
        left: 2rem;
        width: 10vw;
        height: 10vw;
    }

    .cat-anim {
        max-width: 100%;
        grid-area: body14;
        top: -13rem;
        left: 2rem;
    }

    #money_div {
        grid-area: body21;
        top: 1rem;
        left: 11rem;
        width: 33vw;
        height: 28vw;
    }

    #matches_div {
        grid-area: body24;
        top: 5rem;
        left: 0;
        width: 20vw;
        height: 20vw;
    }

    #ticket_div {
        grid-area: body25;
        top: 2rem;
        left: -1rem;
        width: 20vw;
        height: 18vw;
    }

    #kaluga_div {
        grid-area: body33;
        top: -2rem;
        left: 0;
        width: 26vw;
        height: 18vw;
    }

    #book_div {
        grid-area: body54;
        top: -5rem;
        left: 0rem;
        width: 37vw;
        height: 31vw;
    }

    #cards_div {
        grid-area: body21;
        width: 14vw;
        height: 18vw;
        top: 0;
        left: 1rem;
    }

    #tree_div {
        grid-area: body53;
        top: 3rem;
        left: -3rem;
        width: 26vw;
        height: 19vw;
    }

    #nice_div {
        grid-area: footer4;
        top: -12rem;
        left: -6rem;
        width: 36vw;
        height: 32vw;
    }

    #tram_div {
        grid-area: body42;
        top: -8rem;
        left: -1rem;
        width: 22vw;
        height: 22vw;
    }

    #icon_div {
        grid-area: body65;
        top: 0;
        left: 1rem;
        width: 15vw;
        height: 17.5vw;
    }

    #book-sh_div {
        grid-area: body43;
        top: -5rem;
        left: -7rem;
        width: 28vw;
        height: 34vw;
    }

    #postcard_div {
        grid-area: body41;
        top: 7rem;
        left: 2rem;
        width: 20vw;
        height: 26vw;
    }

    #basquiat_div {
        grid-area: body72;
        top: -2rem;
        left: 0;
        width: 35vw;
        height: 35vw;
    }

    #notebook_div {
        grid-area: body31;
        top: 4rem;
        left: 0rem;
        width: 26vw;
        height: 24vw;
        rotate: -90deg;
    }

    #sochi_div {
        grid-area: body75;
        top: -5rem;
        left: -8rem;
        width: 27vw;
        height: 27vw;
    }

    #paper_div {
        grid-area: body64;
        top: -3rem;
        left: -17rem;
        width: 38vw;
        height: 36vw;
    }

    #airticket_div {
        grid-area: body35;
        top: 0rem;
        left: -3rem;
        width: 18vw;
        height: 18vw;
    }

    #zakolochka_div {
        grid-area: header35;

        width: 13vw;
        height: 13vw;
    }

    #photo_div {
        grid-area: header31;
        width: 21vw;
        height: 25vw;
    }

    #momin_div {
        grid-area: body02;
        top: 1rem;
        left: 0rem;
        width: 19vw;
        height: 16vw;
    }
}

#cap_div {
    left: -1.4rem;
    top: 10rem;
    width: 8vw;
    height: 8vw;
    min-width: 50px;
    display: block;

    z-index: 1;
}

#peace_div {
    min-width: 100px;
    display: block;
}

#skrepka_div {
    min-width: 70px;
    display: block;
}

.cat-anim {
    animation: cat steps(1) 3s infinite;
}

#kotik {
    opacity: 0%;
    max-width: 100%;
}


@keyframes cat {
    0% {
        background: url(../img/кот-1-1.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    25% {
        background: url(../img/кот-2-2.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    50% {
        background: url(../img/кот-3.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    75% {
        background: url(../img/кот-4.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    100% {
        background: url(../img/кот-1-1.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

#money_div {
    min-width: 130px;
    display: block;

    z-index: 3;
}

#money_div:hover {
    opacity: 0;
    transition: 0.1s;
}

#matches_div {
    min-width: 100px;
    display: block;

    align-self: end;
}

#matches_div:hover {
    opacity: 0;
    transition: 0.1s;
}

#ticket_div {
    min-width: 150px;
    display: block;

    align-self: end;
}

#ticket-1 {
    opacity: 0;
}


#ticket-1:hover {
    opacity: 1;
    transition: 0.1s;
}

#ticket-2:hover {
    opacity: 0;
    transition: 0.1s;
}

#kaluga_div {
    min-width: 150px;
    display: block;
}

#kaluga_div:hover {
    opacity: 0;
    transition: 0.1s;
}

#book_div {
    min-width: 200px;
    display: block;
}

#book-2 {
    opacity: 0;
}

#book-2:hover {
    opacity: 1;
}

#book-1:hover {
    opacity: 0;
}

#cards_div {
    animation: cards 0.7s steps(1) infinite;
    animation-play-state: paused;
}

#cards {
    opacity: 1;
    max-width: 100%;
}

#cards_div:hover {
    animation-play-state: running;
}

#cards:hover {
    opacity: 0;
}

@keyframes cards {
    from {
        background: url(../img/мал-карта-1.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    20% {
        background: url(../img/мал-карта-2.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    40% {
        background: url(../img/мал-карта-3.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    60% {
        background: url(../img/мал-карта-4.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    80% {
        background: url(../img/мал-карта-5.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    to {
        background: url(../img/мал-карта-6.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

#tree_div {
    min-width: 180px;
    display: block;

    align-self: end;
    z-index: 4;
}

#tree_div:hover {
    opacity: 0;
    transition: 0.1s;
}

#nice_div {
    min-width: 230px;
    display: block;

    align-self: end;
    z-index: 3;
}

#nice_div:hover {
    opacity: 0;
    transition: 0.1s;
}

#tram_div {
    min-width: 150px;
    display: block;
}

#tram_div:hover {
    opacity: 0;
    transition: 0.1s;
}

#icon_div {
    animation: icon 5s steps(1) infinite;
}

#icon {
    opacity: 0;
    max-width: 100%;
}

@keyframes icon {
    0% {
        background: url(../img/икона-1.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    15% {
        background: url(../img/икона-2.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    30% {
        background: url(../img/икона-3.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    45% {
        background: url(../img/икона-4.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    60% {
        background: url(../img/икона-5.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    75% {
        background: url(../img/икона-6.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    90% {
        background: url(../img/икона-7.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    100% {
        background: url(../img/икона-8.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

#book-sh_div {
    min-width: 150px;
    display: block;
}

#book-sh-2 {
    opacity: 0;
}

#book-sh-1:hover {
    opacity: 0;
}

#book-sh-2:hover {
    opacity: 1;
}

#postcard_div {
    animation: postcard 6s steps(1) infinite;
}

#postcard {
    opacity: 0;
}

@keyframes postcard {
    0% {
        background: url(../img/открытка.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    7% {
        background: url(../img/открытка-2.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    14% {
        background: url(../img/открытка-3.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    21% {
        background: url(../img/открытка-4.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    28% {
        background: url(../img/открытка-5.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    35% {
        background: url(../img/открытка-6.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    42% {
        background: url(../img/открытка-7.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    49% {
        background: url(../img/открытка-8.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    56% {
        background: url(../img/открытка-9.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    63% {
        background: url(../img/открытка-10.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    70% {
        background: url(../img/открытка-11.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }


    77% {
        background: url(../img/открытка-13.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    84% {
        background: url(../img/открытка-14.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    92% {
        background: url(../img/открытка-15.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

#basquiat_div {
    min-width: 200px;
    display: block;

    z-index: 3;
}

#notebook_div {
    animation: note 2s steps(1) infinite;
    animation-play-state: running;

    z-index: 6;
}

#notebook-1 {
    opacity: 1;
}

#notebook-2 {
    opacity: 0;
}

#notebook-1:hover {
    opacity: 0;
}

#notebook-2:hover {
    opacity: 1;
}

#sochi_div {
    min-width: 180px;
    display: block;
}

#paper_div {
    min-width: 250px;
    display: block;
}

#airticket_div {
    animation: ticket 4s steps(1) infinite;
}

#airticket {
    opacity: 0;
}

@keyframes ticket {
    0% {
        background: url(../img/билетик.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    25% {
        background: url(../img/билетик-2.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    50% {
        background: url(../img/билетик-4.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    75% {
        background: url(../img/билетик-3.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

#zakolochka_div {
    top: 0;
    left: 0;
    animation: zak 4s steps(1) infinite;
}

#zakolochka {
    opacity: 0;
}

@keyframes zak {
    0% {
        background: url(../img/заколочка.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    30% {
        background: url(../img/заколочка-2.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    60% {
        background: url(../img/заколочка-3.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

}

#photo_div {
    top: 2rem;
    left: 1rem;
    animation: photo 4s steps(1) infinite;
    min-width: 100px;
}

#photo {
    opacity: 0;
}

@keyframes photo {
    0% {
        background: url(../img/фото.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    25% {
        background: url(../img/фото-1.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    50% {
        background: url(../img/фото.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    75% {
        background: url(../img/фото-1.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

#momin_div {
    min-width: 150px;
    display: block;
    rotate: 20deg;
}